<div class ="edit-user-form">
  <h1>Update Your Account Information</h1>
    <%= form_for (@user), :html => {:class => "form-horizontal center"} do |f| %>
        <div class="form-group">
          <%= f.label :name, "Name:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_e, "Current Employer:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :current_employer, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :street_address, "Street Address:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :street_address, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :city, "City:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "Email:", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>

        <%= f.submit "Submit", class: "btn btn-default" %>
    <% end %>
</div>
