<div class="user-dashboard">
  <div class="page-header">User Dashboard</div>
  <div class="user-image">
    <%= image_tag(@user.image, width: "250", height: "250") %>
  </div>
  <br>
  <br>
  <div class="user-dashboard-info">
    <strong><p>Name</p></strong>
    <p><%= @user.name %></p>
    <strong><p>Current Employer</p></strong>
    <p><%= @user.current_employer %></p>
    <strong><p>Cohort</p></strong>
    <p> <%= @user.cohort %></p>
    <strong><p>Location</p></strong>
    <p><%= @user.full_street_address %></p>
    <strong><p>Email</p></strong>
    <p><%= @user.email %></p>
  </div>
</div>
