<div class="user-dashboard">
  <div class="page-header">User Dashboard</div>
  <div class="user-image"><%= image_tag(@user.image, width: "180", height: "180") %></div>
  <br>
  <br>
  <div class="info">
    <strong><p>Welcome to your dashboard, <%= @user.name %></p></strong>
    <p>Cohort</p>
    <p> <%= @user.cohort %></p>
    <p>Location</p>
    <p><%= @user.city_and_state(@user) %></p>
  </div>
  <p>Moving? Got a new job?
  <strong><%= link_to "Update Your Account", edit_user_path %> </p></strong>
</div>
