<div class="user-dashboard">
  <div class="page-header">User Dashboard</div>
  <div class="user-image">
</div>
<div class='user-info-table'>
<table>
  <tr>
    <td><%= image_tag(@user.image, width: "250", height: "250") %></td>
    <td>
      <div class="user-dashboard-info">
      <strong><p class="user-label">Name</p></strong>
      <p class="user-detail"><%= @user.name %></p>
      <strong><p class="user-label">Current Employer</p></strong>
      <p class="user-detail"><%= @user.current_employer %></p>
      <strong><p class="user-label">Cohort</p></strong>
      <p class="user-detail"> <%= @user.cohort %></p>
      <strong><p class="user-label">Location</p></strong>
      <p class="user-detail"><%= @user.full_street_address %></p>
      <strong><p class="user-label">Email</p></strong>
      <p class="user-detail"><%= @user.email %></p>
      </div>
    </td>
  </tr>
</table>
</div>
