<div class="user-dashboard">
  <div class="page-header">User Dashboard</div>
  <div class="user-image">
</div>
<div class='user-info-table'>
<table cellspacing="1" cellpadding="1">
  <tr>
    <td><%= image_tag(@user.image, width: "250", height: "250") %></td>
    <td>
      <div class="user-dashboard-info" id ="<% @user.id%>">
      <strong><p class="user-label">Name</p></strong>
      <p class="user-detail-name" id="name"><%= @user.name %></p>
      <strong><p class="user-label">Current Employer</p></strong>
      <p class="user-detail-employer"><%= @user.current_employer %></p>
      <strong><p class="user-label">Cohort</p></strong>
      <p class="user-detail-cohort"> <%= @user.cohort %></p>
      <strong><p class="user-label">Location</p></strong>
      <p class="user-detail-street"><%= @user.full_street_address %></p>
      <strong><p class="user-label">Email</p></strong>
      <p class="user-detail-email"><%= @user.email %></p>
      <strong><p class="user-label">Current Focus:</p></strong>
      <p class="user-detail-status"><%= @user.status %></p>
      </div>
    </td>
  </tr>
</table>
</div>
