<div="container">
<div class="col md- 4 card">
  <div class="users-index-page">
    <div class="index-title">
      Alumni List
    </div>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Cohort</th>
          <th>Name</th>
          <th>Employer</th>
          <th>City</th>
          <th>State</th>
          <th>Update Account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @users.each_with_index do |user, index| %>
            <td><%= index + 1 %></td>
            <td><%= user.cohort %></td>
            <td><%= user.name %></td>
            <td><%= user.current_employer %></td>
            <td><%= user.city %></td>
            <td><%= user.state %></td>
            <td><%= link_to "Update #{user.name}'s Account", edit_user_path(user) %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>
