<div class="user-dashboard">
  <div class="page-header">User Dashboard
    <p><%= link_to "View All Users", admin_users_path %></p>
  </div>
<div class='user-info-table'>
<table style = "width: 60%">
  <tr>
    <td><%= image_tag(@user.image, width: "250", height: "250") %></td>
      <div class="user-dashboard-info" id='<%= @id %>'>
      <strong><p class="user-label">Name</p></strong>
      <p class="user-detail-name"><%= @user.name %></p>
      <strong><p class="user-label">Current Employer</p></strong>
      <p class="user-detail-employer"><%= @user.current_employer %></p>
      <strong><p class="user-label">Cohort</p></strong>
      <p class="user-detail-cohort"> <%= @user.cohort %></p>
      <strong><p class="user-label">Street Address</p></strong>
      <p class="user-detail-address"><%= @user.street_address %></p>
      <strong><p class="user-label">City</p></strong>
      <p class="user-detail-city"><%= @user.city %></p>
      <strong><p class="user-label">State</p></strong>
      <p class="user-detail-state"><%= @user.state %></p>
      <strong><p class="user-label">Email</p></strong>
      <p class="user-detail-email"><%= @user.email %></p>
      <strong><p class="user-label">Status</p></strong>
      <p class="user-detail-status"><%= @user.status %></p>
      </div>
    </td>
  </tr>
</table>
</div>
