<div class='user-info-table'>
  <div class="personal-image">
    <%= image_tag(@user.image, width: "300", height: "300") %>
  </div>
  <div class="user-dashboard-info" id='<%= @id %>'>
    <strong><p class="user-label">Name</p></strong>
    <p class="user-detail-name" contentEditable="true"><%= @user.name %></p>
    <strong><p class="user-label">Current Employer</p></strong>
    <p class="user-detail-employer"><%= @user.current_employer %></p>
    <strong><p class="user-label">Cohort</p></strong>
    <p class="user-detail-cohort" contentEditable="true"> <%= @user.cohort %></p>
    <strong><p class="user-label">Street Address</p></strong>
    <p class="user-detail-address"><%= @user.street_address %></p>
    <strong><p class="user-label">City</p></strong>
    <p class="user-detail-city"><%= @user.city %></p>
    <strong><p class="user-label">State</p></strong>
    <p class="user-detail-state"><%= @user.state %></p>
    <strong><p class="user-label">Email</p></strong>
    <p class="user-detail-email"><%= @user.email %></p>
    <strong><p class="user-label">Status</p></strong>
    <p class="user-detail-status"><%= @user.status %></p>
  </div>
</div>
