<nav class="navbar navbar-static-top">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="navbar-brand">
            Turing Connect
          </li>
          <li class="greeting navbar-right">
            Hello, <%= current_user.name %>
          </li>
          <li class="map-link">
            <%= link_to "Map", users_map_path %>
          </li>
          <li class="map-marker">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </li>
          <li class="edit-link">
            <%= link_to "Edit Account", edit_user_path(current_user) %>
          </li>
          <li class="eraser">
            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
          </li>

          <li class= "dashboard-link">
            <%= link_to "Dashboard", user_path(current_user) %>
          </li>
          <li class="user-shadow">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </li>
          <li class="logout-link">
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
          <li class="remove">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </li>
           <% else %>
          <li class="login-with-github">
            <%= link_to "Sign in with Github", github_login_path %>
          </li>
          <li class="login-icon">
            <span class="fa fa-github fa-6" aria-hidden="true"></span>
          </li>
        <% end %>
      </ul>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="edit-links-bottom">
          <p>Moving? Have a new job?  <strong><%= link_to "Update Your Account", edit_user_path(current_user) %>   </strong></p>
        </li>
        <li class="update-icon">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
